body{
    background-color: aliceblue;
}
hr{
    border: solid black 2px;
}
h2{
    text-align: center;
}
.Tech{
    display: flex;
}
.projects, .posts {
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
}
@media(max-width: 1130px){  /* Adjusted for iPhone 15 Pro Max */
    .Tech{
        display: block;
    }
    .projects, .posts{
        display: block;
    }
    .home{
       justify-content: center;
       text-align: center;
    }
    img{
        height: 500px;
    }
}

