body{
    background-color: aliceblue;
}
hr{
    border: solid black 2px;
}
h2{
    text-align: center;
}
.Tech{
    display: flex;
}
.projects, .posts {
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
}
@media only screen and (max-width: 450px){
    body{
        display: block;
    }
    .Tech{
        display: block;
    }
    .posts{
        display: block;
    }
    .home{
       justify-content: center;
       text-align: center;
    }
}
